:root{
    --primary-color: #38acec;
    --error-color:#ff4747;
}

.h-60 {
  height: 60vh;
}
.hover-menus-parent:hover > div,
.hover-menus-parent:hover,
.hover-menus-parent:hover > div > .menu-icon {
  background: #38acec;
  color: #fff;
}
.active-menus-parent > div,
.active-menus-parent,
.active-menus-parent > div > .menu-icon {
  background: var(--primary-color);
  color: #fff;
}
.set-legend-to-38acec:hover > legend{
    color: var(--primary-color);
}
.h-60{
    height: 60vh;
}
.w-98{
    width: 95%;
}
.h-fit-content{
    height: fit-content;
    margin-top: 104px;
}
.scrollBar::-webkit-scrollbar-track
{
    background-color: rgba(243, 244, 246);
    border-radius: 15px;
}

.scrollBar::-webkit-scrollbar
{
    width: 10px;
    background-color:rgba(243, 244, 246);
    
}

.scrollBar::-webkit-scrollbar-thumb
{
    background-color: #cacaca;
}
.scrollBar::-webkit-scrollbar-thumb:hover
{
    background-color: #b3b2b2;
}
.rotate-pi\/2{
    transform: rotate(40deg);
    z-index: 10;
}

.primaryColor{
    color: var(--primary-color);
}
.primaryBg{
    background: var(--primary-color);
}
.primaryBgHovered:hover{
    background:var(--primary-color);
    color: white;
}
.primary-border{
    border-color: var(--primary-color);
}
.borderPrimaryBottom{
    color: var(--primary);
    border-bottom: 2px solid var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}
.primary-outline{
    outline: var(--primary-color);
}
.contextError{
    border: 2px solid var(--error-color);
}
.error{
    color: var(--error-color);
}

.searchBoxText{
    border-color: var(--primary-color);
    border-style: solid;
    border-top-width: 0;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}